
/*universal selector written with (*) */
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


body
{
 /*background: linear-gradient(rgba(0, 0, 0, 0.295),rgba(128, 128, 128, 0.151),rgba(0, 0, 0, 0)),url(gallery/po19.jpegx) ;
 color: white;
 height: 100vh;
 width: 100vh; */

}

h1
{
    font-size: 10px;
    background-color: gold;
    color: black;
}
span
{
    font-family: cursive;
    text-decoration: underline;
}
p
{
    text-indent: 200px;
    text-transform: lowercase ;
    text-shadow: 2px 3px 3px black;
    word-spacing: 50PX;
}
.b1
{
    background-color: black;
    color: blanchedalmond ;
}
#b2
{
    background-color: brown;
}
/*  For image:
background-image: url(gallery/po16.jpg);
background-repeat: no-repeat;
background-size: cover;
}
*/
