.container
{
    background-color: silver;
    width: 100vw;
    height: 100vh;
    justify-content: space-around;
    display: flex;
    align-items: center;
}
.box1
{
background-color: blue;
height: 200px;
width: 200px;
}
.box2
{
    background-color: gold;
    height: 200px;
    width: 200px;
    border-radius: 100px;
}
.box3
{
    background-color: gray;
    height: 200px;
    width: 200px;
}
.box4
{
background-color: green;
height: 200px;
width: 200px;
}
.box5
{
background-color:red;
height: 200px;
width: 200px;
}
.box1:hover
{
    background-color: yellowgreen;
    border: solid black 1px;
    transform: scale(2);
    transition:  4s;
    border-radius: 100px;
    transition-delay: 5s;
}
.box2:hover
{
    background-color: black;
    transform: scale(0.5);
    border-radius: 0px;
    transition: 4s;
}
.box3:hover
{
    transform: rotate(45deg) scale(2);
    transition: 4s;
    background-color: springgreen;
    border-radius: 50px;
      box-shadow: black 5px 5px 5px;
}
.box4:hover
{
    background-color: salmon;
    transition: 4s;
    border-radius: 100px;
    transform: skew(90deg);
}
.box5:hover
{
    transition: 4s;
    background-color:gold;
    transform: translateX(-60vw);
    box-shadow: black 5px 5px 5px;
    border-radius: 100px;
}

/* to be place at center
.box
{
position: absolute;
top; 50%;
left; 50%;
transform translate(-50%,-50%);
}